/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,400;16..144,500;16..144,600&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(230, 62%, 56%);
  --title-color: hsl(230, 70%, 16%);
  --text-color: hsl(230, 16%, 45%);
  --border-color: hsl(230, 50%, 90%);
  --white-color: hsl(0, 0%, 100%);
  --body-color: hsl(230, 100%, 96%);
  --container-color: hsl(230, 100%, 97%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Montserrat', sans-serif;
  --second-font: 'Montagu Slab', serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background-color 0.4s;
}

input,
button {
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
body.dark-theme {
  --title-color: hsl(230, 48%, 85%);
  --text-color: hsl(230, 16%, 70%);
  --border-color: hsl(230, 12%, 18%);
  --body-color: hsl(230, 12%, 8%);
  --container-color: hsl(230, 12%, 12%);
}

/*==========
	Color changes in some parts of
	the website, in dark theme
==========*/
.dark-theme .shadow-header {
  box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.4);
}
.dark-theme .nav__menu {
  box-shadow: 0 -8px 32px hsla(0, 0%, 0%, 0.4);
}
.dark-theme .scrollup {
  box-shadow: 0 2px 8px hsla(0, 0%, 0%, 0.4);
}
.dark-theme .search,
.dark-theme .login {
  background-color: hsla(230, 12%, 8%, 0.6) !important;
}

.dark-theme::-webkit-scrollbar {
  background-color: hsl(230, 16%, 15%);
}
.dark-theme::-webkit-scrollbar-thumb {
  background-color: hsl(230, 16%, 25%);
}
.dark-theme::-webkit-scrollbar-thumb:hover {
  background-color: hsl(230, 16%, 35%);
}
/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1220px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  text-align: center;
  font-size: var(--h1-font-size);
  font-family: var(--second-font);
  margin-bottom: 2rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/* Active link */
.active-link {
  color: var(--first-color) !important;
}

/*=============== BUTTON ===============*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  padding: 1rem 1.5rem;
  transition: box-shadow 0.4s;
}
.button:hover {
  box-shadow: 0 4px 32px hsla(230, 72%, 32%, 0.4);
}

/* Swiper class */
.swiper-button-next::after,
.swiper-button-prev::after {
  content: '' !important;
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top:50%;
  z-index: 100;
  width: initial;
  height: initial;
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  padding: 0.5rem;
  font-size: 1.5rem;
  color: var(--first-color);
  transition:
    border 0.4s,
    background-color 0.4s;
  transform: translateY(-50%);
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(230, 16%, 85%);
}
::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: hsl(230, 16%, 65%);
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(230, 16%, 55%);
}
/*=============== SCROLL UP ===============*/

/* Show Scroll Up */

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-inline: 1rem !important;
  }
  .nav__menu {
    padding: 3rem !important;
  }
  .discount__img_1,
  .discount__img_2 {
    width: 140px !important;
  }
  .nav__card {
    flex-direction: column !important;
  }
  .testimonial__card {
    padding-inline: 1rem !important;
  }
  .footer__data {
    row-gap: 2rem !important;
  }
}
/* For medium devices */
@media screen and (max-width: 450px) {
  .featured__card {
    width: 290px !important;
  }
  .new__card {
    width: 390px !important;
  }
  .testimonial__card {
    width: 320px !important;
  }
}
@media screen and (max-width: 575px) {
  .search__form {
    width: 500px !important;
    margin-inline: auto !important;
  }
  .login__form {
    width: 400px !important;
    justify-self: center !important;
  }
  .search__close,
  .login__close {
    width: max-content !important;
    top: 4rem !important;
    left: 0 !important;
    right: 0 !important;
    margin-inline: auto !important;
  }
  .nav__menu {
    width: 100% !important;
    margin-inline: auto !important;
  }
  .home__container,
  .discount__container {
    grid-template-columns: 420px !important;
    justify-content: center !important;
  }
  .join__form {
    width: 328px !important;
    justify-self: center !important;
  }
}

@media screen and (max-width: 768px) {
  .home__container {
    grid-template-columns: 580px !important;
  }
  .home__data {
    width: 420px !important;
    justify-self: center !important;
  }
  .services__container {
    column-gap: 5rem !important;
  }
  .services__container article{
    width: 100%;
  }
  .footer__container {
    grid-template-columns: repeat(2, max-content) !important;
    justify-content: space-between !important;
  }
}
/* For large devices */
@media screen and (min-width: 1150px) {
  .section {
    padding-block: 7rem 2rem !important;
  }
  .nav {
    height: calc(var(--header-height) + 2rem) !important;
    column-gap: 4rem;
  }
  .nav__link i {
    display: none !important;
  }
  .nav__link span {
    display: block !important;
  }
  .nav__menu {
    width: initial;
    margin-inline: auto 0 !important;
  }
  .nav__list {
    column-gap: 4rem !important;
  }
  .nav__link {
    font-weight: var(--font-medium) !important;
  }
  .dark-theme .nav__menu {
    box-shadow: none !important;
  }
  .home__data {
    width: initial !important;
  }
  .services__container {
    column-gap: 10rem !important;
  }
  .services__card i {
    font-size: 3.5rem !important;
  }
  .featured__container {
    padding-top: 2rem !important;
  }
  .featured__title {
    font-size: var(--h3-font-size) !important;
  }

  .discount__container {
    grid-template-columns: 615px 500px !important;
    justify-content: space-between !important;
    align-items: center !important;
  }

  .discount__data {
    order: 1;
  }
  .discount__data,
  .discount__title {
    text-align: initial !important;
  }
  .discount__description {
    margin-bottom: 3.5rem !important;
  }
  .discount__img_1,
  .discount__img_2 {
    width: 300px !important;
  }
  .new__container {
    padding-top: 2rem !important;
  }
  .new__card {
    padding: 1.5rem !important;
  }
  .new__img {
    width: 120px !important;
  }
  .new__title {
    font-size: var(--h3-font-size) !important;
  }
  .join__bg {
    object-position: 0 -5rem !important;
  }

  .testimonial__container {
    padding-top: 2rem !important;
  }
  .testimonial__card {
    padding-inline: 2rem !important;
  }
  .testimonial__title {
    font-size: var(--h3-font-size) !important;
  }
  .testimonial__description {
    margin-bottom: var(--normal-font-size) !important;
  }
  .footer {
    padding-block: 6rem 3rem !important;
  }
  .footer__data {
    column-gap: 4.5rem !important;
  }
  .footer__logo,
  .footer__title {
    font-size: var(--h2-font-size) !important;
    margin-bottom: 1.5rem !important;
  }
  .footer__social {
    column-gap: 1.5rem !important;
  }
  .footer__social-link {
    font-size: 1.5rem !important;
  }
  .footer__copy {
    margin-top: 7.5rem !important;
  }

  .scrollup {
    right: 3rem !important;
  }
  .show-scroll {
    bottom: 3rem !important;
  }
}
@media screen and (min-width: 1220px) {
  .container {
    margin-inline: auto !important;
  }
  .home__container {
    grid-template-columns: 435px 745px !important;
    align-items: center !important;
    padding-block: 7rem 2rem !important;
  }
  .home__data {
    text-align: initial !important;
  }
  .home__description {
    margin-bottom: 4rem !important;
  }
  .home__article,.home__img{
    width: 290px !important;
  }
  .services__card{
    padding: 2rem !important;
  }
}
